body {
    display: flex;
    flex-direction: column;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    min-width: 100vh;
    min-height: 100vh;
}


/* Header */

.header {
    background-color: #1f2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
    padding: 1vw;
    padding-bottom: 4vw;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 1vw;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.header li {
    flex: 1;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

/* Hero */

.hero {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    padding: 3vw;
    padding-bottom: 6vw;
    gap: 5vw;
}

.section {
    width: 30vw;
}

.hero-header {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
}

.hero-text {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
}

.sing-up {
    background-color: #3882f6;
    color: #fff;
    border-radius: 10px;
    padding: 0.5vw 2.5vw;
    margin-top: 1vw;
    border-style: none;
}

.image {
    width: 30vw;
    height: 12vw;
}

/* gallery */

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4vw 4vw 6vw 4vw;
    gap: 2vw;
}

.gallery-header {
    font-size: 36px;
    font-weight: 1000;
    color: #1f2937;
}

.ilustrations {
    display: flex;
    gap: 3vw;
    justify-content: center;
}

.ilustrations-block {
    display: flex;
    flex-direction: column;
    width: 12vw;
    height: 15vw;    
    gap: 1vw;
}

.ilu {
    flex: 2 1 0;
    border-radius: 0.5vw;
    border: 0.2vw solid #3882f6;
}

.description {
    font-size: 18px;
    text-align: center;
    flex: 1;
}


/* quote */

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding: 7.5vw 5vw;
}

.container-quote {
    display: flex;
    flex-direction: column;
    width: 60vw;
}

.quote-text {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.quote-autor {
    color: #0d1218;
    font-size: 30px;
    font-weight: 600;
    align-self: flex-end;
}

/*  */